* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dino';
}

@font-face {
  font-family: 'Dino';
  src: url('../fonts/Cute\ Dino.ttf') format('truetype');
}

body {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000; /* color base por si no carga la imagen */
  background-image: url('../images/error_partida.png'); /*  solo si querés como fondo */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; /* mismo comportamiento que el resto del sitio */
}

.error-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.error-container img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* la imagen se ajusta a pantalla sin distorsión */
  display: block;
}

.volver-btn {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 80px;
  height: 80px;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

