#overlay-fade {
  position: fixed;
  inset: 0;
  background: #000;
  opacity: 1;
  transition: opacity 0.5s ease;
  z-index: 9999;
  pointer-events: none; /*  permite que los clics pasen al contenido */
}

#overlay-fade.hide {
  opacity: 0;
  pointer-events: none; /*  asegura clics después del fade */
}
