* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dino';
}

@font-face {
  font-family: 'Dino';
  src: url('../Fonts/Cute\ Dino.ttf') format('truetype');
}

body {
  min-height: 100vh;
  background-image: url('../Images/EntradaAlParque2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
}

#zona-taquilla {
  position: absolute;
  top: 400px;
  left: 940px;
  width: 300px;
  height: 180px;
  cursor: pointer;
  background: transparent;
}

#overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease;
  z-index: 1;
}

#zona-jugar,
#zona-como-jugar,
#zona-creditos {
  position: absolute;
  cursor: pointer;
}

#zona-jugar {
  top: -50px;
  left: -260px;
  width: 450px;
  height: 350px;
}

#zona-como-jugar {
  top: -20px;
  left: -570px;
  width: 200px;
  height: 50px;
}

#zona-creditos {
  top: 60px;
  left: -540px;
  width: 130px;
  height: 50px;
}

.mensaje-error,
.iluminacion {
  position: relative;
  z-index: 10;
}

.mensaje-error img,
.iluminacion img {
  max-width: 100%;
  position: fixed;
  opacity: 0;
  transition: opacity 1s ease;
}

.mensaje-error img {
  max-width: 1000px;
  top: 4.5rem;
  left: 16.3rem;
}

.iluminacion img {
  max-width: 1500px;
  top: -5rem;
  left: -6.5rem;
}

header {
  height: 110px;
  width: 220px;
  position: relative;
}

header.con-sesion {
  background: url("../Images/TicketInfoUser.png");
  background-size: 100% 100%;
}

.level {
  position: absolute;
  top: 74px;
  left: 75px;
  color: white;
  font-size: 1rem;
  font-family: 'Dino', sans-serif;
}

.bienvenida {
  position: absolute;
  top: 36px;
  left: 65px;
  color: white;
  background-color: transparent;
  border-color: transparent;
  font-size: 1rem;
  font-family: 'Dino', sans-serif;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.bienvenida:hover {
  color: black;
  transform: scale(1.05);
}

.cerrar-sesion {
  position: absolute;
  bottom: 5px;
  right: 120px;
  font-size: 0.9rem;
  font-family: 'Dino';
  color: white;
  border: none;
  background: transparent;
  cursor: pointer;
  transition: transform 0.2s, color 0.2s;
}

.cerrar-sesion:hover {
  color: black;
  transform: scale(1.05);
}


.menu-central {
  font-family: 'Dino';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: transparent;
}