@font-face {
  font-family: 'Dino';
  src: url('../fonts/Cute\ Dino.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dino';
}

body {
  min-height: 100vh;
  background-image: url('../images/FondoJoin.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.config-container {
  width: 100%;
  max-width: 360px;
  background-color: transparent;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
}

.config-container h2 {
  font-size: 1.8rem;
  text-align: center;
}

button {
  top: 180px;
  left: 0px;
  position: absolute;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  border-radius: 6px;
  cursor: pointer;
  width: 270px;
  height: 50px;
  background-color: transparent;
}

.inputs-contenedor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

#config-container input {
  position: absolute;
  top: -8px;
  left: -180px;
  width: 250px;
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  background: transparent;
}

#password-container {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 0px;
  height: 0px;
  background-color: transparent;
  padding: 10px;
  border-radius: 8px;
  z-index: 1000;
  border-color: transparent;

}

#password-container input {
  position: absolute;
  top: 5px; 
  left: -40px;
  width: 380px;
  padding: 0.75rem;
  border: none;
  /* Elimina borde */
  border-radius: 6px;
  font-size: 1rem;
  background: transparent;
  outline: none;
  box-shadow: none;
}

#nombre {
  position: absolute;
  top: -85px;
  left: -45px;
  width: 360px;
  padding: 0.75rem 0.9rem;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  transition: all 0.3s ease;
  background-color: transparent;
  color: #333;
}

#zona-crear {
  position: absolute;
  top: 180px;
  left: 420px;
  width: 100px;
  height: 100px;
  background-color: transparent;
  cursor: pointer;
}

#zona-volver {
  position: absolute;
  top: -100px;
  left: 460px;
  width: 200px;
  height: 280px;
  background-color: transparent;
  cursor: pointer;
}