@font-face {
  font-family: 'Dino';
  src: url('../Fonts/Cute\ Dino.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dino';
}

body {
  min-height: 100vh;
  background-image: url('../Images/FondoInicioSesion.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 360px;
  padding: 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.login-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#campo-usuario {
  position: absolute;
  top: 380px;
  left: -200px;
}

#campo-pass {
  position: absolute;
  top: 496px;
  left: -158px;
}

#zona-boton {
  position: absolute;
  top: 560px;
  left: -180px;
  width: 410px;
  height: 60px;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  border: none;
}

#zona-volver {
  position: absolute;
  top: 300px;
  left: 100px;
  width: 50px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  z-index: 1000;
}

#zona-registro {
  position: absolute;
  top: 295px;
  left: -295px;
  width: 210px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  z-index: 1000;
}

.login-form input {
  width: 100%;
  padding: 0.75rem 0.9rem;
  border-radius: 6px;
  border-color: transparent;
  background-color: transparent;
  font-size: 1rem;
  outline: none;
}

.inputs-contenedor {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin-top: -1rem;
}

.mensaje-error {
  position: absolute;
  top: 100px;
  left: -360px;
}

.mensaje-error img {
  max-width: 700px;
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  body {
    background-image: url('../Images/fondo-movil-login.jpg');
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  body {
    background-image: url('../Images/fondo-tablet.jpg');
  }
}