body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #f5f5f5;
}

.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    background-color: #388e3c;
    color: white;
    padding: 10px 20px;
    width: 90%;
    margin-top: 10px;
    text-align: center;
    border-radius: 10px;
}

.contenido {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 20px;
    width: 90%;
    margin-top: 20px;
}

.mapa {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: #e0f2f1;
    border-radius: 10px;
}

.mapa img {
    width: 100%;
    max-height: 400px;
    max-width: 750px;
}

.puntaje, .fichas {
    background-color: #fff3e0;
    padding: 20px;
    border-radius: 10px;
    height: 150px;
    overflow: auto;
}

.puntaje {
    background-color: #fff3e0;
}

.fichas {
    background-color: #fce4ec;
}

.jugadores {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    background-color: #dcedc8;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

h2 {
    margin-top: 0;
}
