@font-face {
  font-family: 'Dino';
  src: url('../fonts/Cute\ Dino.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dino';
}

body {
  min-height: 100vh;
  background-image: url('../images/FondoRegistro.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

.register-container {
  width: 100%;
  height: 100%;
  position: relative;
}

.register-container input {
  position: absolute;
  width: 350px;
  padding: 0.75rem 0.9rem;
  border-radius: 6px;
  font-size: 1rem;
  outline: none;
  border-color: transparent;
  background-color: transparent;
}

.mensaje-error {
  position: absolute;
  top: -220px;
  left: 110px;
  z-index: -1000;
}

.mensaje-error img {
  max-width: 700px;
  height: auto;
  display: block;
}

#zona-volver {
  position: absolute;
  top: 300px;
  left: 600px;
  width: 50px;
  height: 30px;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  z-index: 1000;
}

#zona-enviar {
  position: absolute;
  top: 280px;
  left: 385px;
  width: 300px;
  height: 40px;
  cursor: pointer;
  background-color: transparent;
  background-size: contain;
  z-index: 1000;
}

#usuario {
  top: 30px;
  left: 240px;
}

#email {
  top: 93px;
  left: 270px;
}

#password {
  top: 154px;
  left: 293px;
}

#confirmar {
  top: 216px;
  left: 320px;
}